version: '3.8'

x-fcd-env: &fcd-env
  - CHAIN_ID=localterra
  - LCD_URI=http://terrad:1317
  - RPC_URI=http://terrad:26657
  - USE_LOG_FILE=false
  - TYPEORM_CONNECTION=postgres
  - TYPEORM_HOST=fcd_postgres
  - TYPEORM_USERNAME=${TYPEORM_USERNAME:-terra}
  - TYPEORM_PASSWORD=${TYPEORM_PASSWORD:-abc123}
  - TYPEORM_DATABASE=${TYPEORM_DATABASE:-fcd}
  - TYPEORM_SYNCHRONIZE=true
  - TYPEORM_LOGGING=false
  - TYPEORM_ENTITIES=src/orm/*Entity.ts
  - LEGACY_NETWORK=false

services:
  terrad:
    image: ghcr.io/terra-money/localterra:2.3.4
    hostname: terrad
    volumes:
      - terra:/app
    networks:
      - default
    ports:
      - "1317:1317"
      - "8080:8080"
      - "9090:9090"
      - "9091:9091"
      - "26657:26657"

  fcd_postgres:
    image: postgres:14-alpine
    hostname: fcd_postgres
    command: postgres -p ${FCD_DB_PORT:-5432}
    environment:
      POSTGRES_USER: ${FCD_POSTGRES_USER:-terra}
      POSTGRES_PASSWORD: ${FCD_POSTGRES_PASSWORD:-abc123}
      POSTGRES_DB: ${FCD_POSTGRES_DB:-fcd}
    volumes:
      - fcd_data:/var/lib/postgresql/data
    networks:
      - default
    ports:
      - ${FCD_DB_PORT:-5432}:${FCD_DB_PORT:-5432}

  fcd_collector:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/terra-money/fcd:2.3.4
    hostname: fcd_collector
    command: collector
    restart: unless-stopped
    environment: *fcd-env
    networks:
      - default

  fcd_api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/terra-money/fcd:2.3.4
    hostname: fcd_api
    command: start
    environment: *fcd-env
    networks:
      - default
    ports:
      - 3060:3060

volumes:
  terra:
  fcd_data:

networks:
  default:


